/* 
* {
  outline: 1px solid red;
}
*/

.screen-separate {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-container {
  position: relative;
  background-color: #F8F8F8;
  display: flex;
  width: 350px;
  padding: 10px;
}

.left-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 100px;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.right-container {
  position: relative;
  background-color: #F8F8F8;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  width: 100%;
  padding: 10px;
  padding-left: 0px;
}


.right-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: visible;
  width: 100%;
  border-radius: 10px;
}

.right-content img {
  width: 100%;
}

.left-up-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 100px;
}

.project-list-wrapper {
  display: flex;
  flex-direction: column;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}


.project-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  font-family: 'DecimaMonoX';
  font-size: var(--font-size-m);
  letter-spacing: -1px;
}

.project:hover {
  background-color: #E1E1E1;
}

.project-up {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 70%;
}

.project-down {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 80%;
}

.project-up-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-down-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.logo-placeholder img {
  width: 30px;
  height: 30px;
  height: fit-content;
  object-fit: contain;
  display: block;
}

.project-info {
  display: none;
  animation: fadeIn 0.3s ease;
}

.project-info.active {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.upper-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ------------  */

.project-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
}

/* мобильный вариант */
@media (max-width: 768px) {

  .screen-separate {
    display: block;
    flex-direction: column;
    height: 30vh;
    width: 100%;
  }

  .left-container {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: fit-content;
    width: 100%;
    overflow: hidden;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .right-container {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .right-content {
    position: relative;
    width: 100vw;
    gap: 0;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }



  .left-up-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 12px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;


  }

  .upper-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-right: 10px;
  }

  .project-list {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
  }

  .project-list-wrapper {
    /* overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; */
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    position: relative;/* для псевдоэлементов */
    scroll-behavior: smooth;
    padding-left: 0px;
    padding-bottom: 10px;
  }

  

  .project {
    width: 350px;
  }

  .project-info.active {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }



  .blur-container {
    display: none;
  }

}