.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  font-family: 'DecimaMonoX';
  font-size: var(--font-size-m);
  letter-spacing: -1px;
}

.contacts {
  display: block;
  position: absolute ;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: #272727;
  border-radius: 10px;
  font-family: 'DecimaMonoX';
  font-size: var(--font-size-m);
  letter-spacing: -1px;
  text-decoration: none;
  color: #858585;
  box-sizing: border-box;
  width: calc(100% - 20px);;
  z-index: 10;
}

.contacts-mob {
  display: none;
}