.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  background-color: #E9E9E9;
  border-radius: 10px;
  padding: 10px;
  font-family: 'DecimaMonoX';
  font-size: var(--font-size-m);
  letter-spacing: -1px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'DecimaMonoX';
  font-size: var(--font-size-m);
  letter-spacing: -1px;
  font-size: var(--font-size-m);
}

.project-name {
  font-size: var(--font-size-l)
}

.project-disc {
  color: #E9E9E9;
  font-size: var(--font-size-s);
}

.project:hover .project-disc {
  color: #B2B2B2;
}

.project.active .project-disc {
  color: #B2B2B2;
}

.project.active .button-invis {
  display: none;
}

.project-date {
  color: #B2B2B2;
  font-size: var(--font-size-s);

}

.project-position {
  color: black;
  font-size: var(--font-size-m);
}



.project-description {
  display: flex;
  flex-direction: column;
  gap: 30px ;
  font-family: 'DecimaMonoX';
  letter-spacing: -1px;
  font-size: var(--font-size-m);
  background-color: #F8F8F8;
  padding: 4px;
  border-radius: 10px;
}

.contact-link {
  color: #ffffff;
  text-decoration: none;
}

.contact-link:hover {
  color: #5a5a5a;
}


/* мобильный вариант */

@media (max-width: 768px) {
  .project-description {
    position: static;
    display: block;
    width: fit-content;
    max-width: 100%;
    padding: 10px;
  }

  .contacts {
    display: none;

  }

  .contacts-mob {
    box-sizing: border-box;
    width: 100%;
    display: block;
    background-color: #272727;
    border-radius: 10px;
    padding: 10px;
    font-family: 'DecimaMonoX';
    font-size: var(--font-size-m);
    letter-spacing: -1px;
    text-decoration: none;
    color: #858585;
  }

  .text-block {
    padding-left: 10px;
  }

}