/* * {
    border: solid 1px rgba(242, 0, 0, 0.119);
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@font-face {
    font-family: 'Faberge Italic';
    src: url('fonts/Faberge-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Faberge Regular';
    src: url('fonts/Faberge-Regular.woff2') format('woff2');
}




hr {
    border: none;
    border-top: 0.1px solid #adadad;
    width: 100%;
    transform: scaleY(0.5); /* будет выглядеть как 0.5px */
    transform-origin: center;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: -1%;
}

html,
body {
    height: 100%;
    margin: 0;
}

.main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 100px;
}

.main-dumalka {
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
}

.main-project {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    font-family: 'faberge regular', sans-serif;
    line-height: 90%;
    font-size: 55px;
    font-weight: auto;
    color: #212121;

}

.portrait {
    border-radius: 1000px;
    width: 50px;
    height: 50px;
}

.portrait img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    object-fit: cover;
}

.text-anim1 {
    display: inline-block;
    white-space: pre;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    letter-spacing: -1%;
}

.upper-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.about {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    letter-spacing: -1%;
    color: #212121;
    display: flex;
    flex-direction: column;
}

.contact {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    letter-spacing: -1%;
    color: #212121;
    padding-top: 20px;

}

.text-link {
    text-decoration: none;
    color: rgb(0, 106, 255);
    padding: 2px 6px;
}

.text-link:hover {
    text-decoration: underline;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: start;
}

.company-item {
    color: #ABABAB;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    letter-spacing: -1%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.company-item img {
    width: 20px;
    height: 20px;
}

.company-name {
    position: relative;
    color: #212121;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 6px;
}

.company-about {
    width: 400px;
}

.company-date {
    width: fit-content;
    display: flex;
    padding: 4px 6px;
    border: #CCCCCC 1px solid;
    border-radius: 100px;
    color: #ABABAB;
    font-size: 10px;
}

.company-position {
    color: #ABABAB;
}

.item-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    gap: 50px;
    transition: transform 0.1s ease, color 0.1s;
}

.item-link:hover .company-item {
    color: #212121;
}

.item-link:hover .arrow-icon {
    color: aqua;
}

.item-link:hover {
    color: rgb(33, 33, 33);
    transform: rotate(0.5deg);
}

.project-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}

.project-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.number {
    font-family: 'inter', sans-serif;
    font-size: 12px;
    color: #919191;
    height: fit-content;
    width: 150px;
}










.link-button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    height: fit-content;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: -1%;
    text-decoration: none;
    color: #384fff;
    border: 0px;
    padding: 6px 6px;
    cursor: pointer;
}

.link-button:hover {
    color: #575757;
}

.button-icon {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    height: fit-content;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: -1%;
    text-decoration: none;
    color: #000000;
    background-color: #ECECEC;
    border: 0px;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.button-icon:hover {
    background-color: #e0e0e0;
    text-decoration: none;
}

.icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10px;
}

.icon-wrapper img {
    display: flex;
    align-items: center;
    width: 10px;
}

@media screen and (max-width: 768px) {
    .main,
    .main-dumalka,
    .main-gallery {
        padding: 20px;
    }

    .hero-text {
        font-size: 45px;
    }

    .content {
        flex-direction: column-reverse;
        align-items: start;
        gap: 50px;
    }

    .company-about {
        width: 100%;
    }

    .projects {
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        padding: 20px;
    }

    .about {
        flex-direction: column;
    }

    .hero-text {
        font-size: 35px;
    }
}